/* Dialog styles */
.iconfield-dialog {
  width: 75em !important;
  max-width: 94vw;
}
.iconfield-dialog-form .icon-browser-filters-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1.5rem;
  align-items: end;
  padding: 1rem;
}
.iconfield-dialog-form .icon-browser-filters-wrapper .form-item,
.iconfield-dialog-form .icon-browser-filters-wrapper input {
  margin: 0;
}
.iconfield-dialog-form .icon-browser-filters-wrapper input:first-child {
  margin-inline-end: 1.5rem;
}
.iconfield-dialog-form .icon-browser-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0;
}
.iconfield-dialog-form .icon-wrapper {
  width: 6.62rem;
  min-width: 5rem;
  font-size: .95rem;
  text-align: center;
  padding: .2rem;
}
.iconfield-dialog-form .icon-wrapper .icon {
  width: 2.5rem;
  margin: 0 auto;
}
.icon-browser-list .icon-wrapper[aria-selected="true"] {
  outline: 2px solid;
  border-radius: 3px;
}
/* Form item styles */
.iconfield-wrapper {
  margin: .5em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .5em 2em;
}
.iconfield-preview-wrapper span,
.iconfield-preview-wrapper svg {
  vertical-align: middle;
}
.iconfield-preview-wrapper svg {
  margin-inline: 1em;
}
.field-multiple-table .button-wrapper {
  margin-inline-start: auto;
  margin-inline-end: 2em;
}
/* Prevent jumps. */
.iconfield-wrapper .ajax-progress-throbber {
  position: absolute;
  z-index: 10;
}
.iconfield-wrapper .button-wrapper .button {
  margin: 0;
}
.iconfield-wrapper .button-wrapper .icon-remove {
  margin-inline-end: 1em;
}
.iconfield-wrapper .alt-text + .button-wrapper,
.iconfield-wrapper .alt-text {
  width: 100%;
  margin: 0 0 .2em 96px;
}
