.icon-wrapper {
  display: block;
}
.icon-wrapper .icon {
  max-width: 100%;
  vertical-align: bottom;
}
.icon-wrapper.align-center {
  display: flex;
  justify-content: center;
  margin-bottom: .5em;
}
.icon-wrapper.align-left {
  float: left;
  margin: 0 1em .5em 0;
}
.icon-wrapper.align-right {
  float: right;
  margin: 0 0 .5em 1em;
}
